/* main styles */
body {
    padding: 0;
    margin: 0;
}

/* button */
.btn {
    background-color: rgb(38, 192, 141);
    border-radius: .8rem;
    padding: .5rem 1.2rem;
    margin-top: .5rem;
    color: white;
    border: 1px solid rgb(38, 192, 141);
}
.btn:hover,
.btn:active {
    color: rgb(38, 192, 141);
    background-color: white
}