/* main styles */
body {
    padding: 0;
    margin: 0;
}

/* button */
.btn {
    background-color: rgb(27, 7, 202);
    border-radius: .8rem;
    padding: .5rem 1.2rem;
    font-size: 1.1rem;
    margin-top: .5rem;
    color: white;
    font-family: 'Courier New', Courier, monospace;
    border: 1px solid rgb(77, 24, 24);
}
.btn:hover,
.btn:active {
    color: rgb(14, 2, 131);
    background-color: white
}